<h1 class="text-center my-4">Editar Procedimento</h1>

<form action="/procedimentos/<%= procedimento.cod %>?_method=PUT" method="POST" class="container p-4 shadow rounded bg-light">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= procedimento.nome %>" required placeholder="Nome do Procedimento">
    </div>
    <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea class="form-control" id="descricao" name="descricao" required placeholder="Descrição do Procedimento"><%= procedimento.descricao %></textarea>
    </div>
    <div class="mb-3">
        <label for="valor" class="form-label">Valor</label>
        <input type="number" class="form-control" id="valor" name="valor" value="<%= procedimento.valor %>" required step="0.01" placeholder="Valor do Procedimento">
    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-warning">Salvar</button>
        <a href="/procedimentos" class="btn btn-primary">Voltar para a Lista</a>
    </div>
</form>
