<h1 class="mb-4">Detalhes do Usuário</h1>
<p><strong>ID:</strong> <%= usuario.cod %></p>
<p><strong>Nome:</strong> <%= usuario.nome %></p>
<a href="/usuarios" class="btn btn-primary mt-3">Voltar à Lista</a>
