<h1>Detalhes do Feedback</h1>
<p>ID: <%= feedback.cod %></p>
<p>Comentário: <%= feedback.comentario %></p>
<p>Avaliação: <%= feedback.avaliacao %></p>
<p>Cliente: <%= feedback.cliente %></p>
<a href="/feedbacks" class="btn btn-primary">Voltar para a Lista</a>
