<h1>Detalhes do feedbacks</h1>
<p><strong>ID:</strong> <%= feedbacks.cod %></p>
<p><strong>Comentário:</strong> <%= feedbacks.comentario %></p>
<p><strong>Avaliação:</strong> <%= feedbacks.avaliacao %></p>
<p><strong>clientes:</strong> <%= feedbacks.clientesNome || feedbacks.clientes %></p>
<a href="/feedbacks" class="btn btn-primary">Voltar para a Lista</a>
