:root {
  --primary-color: #3B3A3A;
  --secondary-color: #F4F4F4;
  --highlight-color: #FF6F61;
  --hover-color: rgba(255, 255, 255, 0.5);
  --text-light: #FFFFFF;
  --text-dark: #2C2C2C;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0, 0, 0, 0.2);
  --spacing: 20px;
  --border-radius: 8px;
  --custom-bar-color: #E0C6B0;
}

body {
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--secondary-color);
  color: var(--text-dark);
  text-align: center;
  line-height: 1.6;
}

header {
  background-image: url(../fotos/imagemdcabelo.png);
  background-size: cover;
  background-position: center;
  color: var(--text-light);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px var(--shadow-medium);
  text-shadow: 2px 2px 4px var(--shadow-medium);
}

header h1 {
  font-size: 3.5rem;
  margin: 0;
  padding-bottom: 20px;
}

nav {
  margin-top: var(--spacing);
}

nav ul {
  display: flex;
  justify-content: center;
  gap: var(--spacing);
  padding: 0;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-light);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: var(--hover-color);
  color: var(--text-dark);
}

main {
  padding: var(--spacing);
}

section {
  margin: var(--spacing) 0;
  padding: var(--spacing);
  background-color: var(--text-light);
  box-shadow: 0 2px 4px var(--shadow-light);
  border-radius: var(--border-radius);
}

section h2 {
  color: var(--text-dark);
  margin-bottom: var(--spacing);
}


/* Estilos gerais para o conteúdo da seção de serviços */
#servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  background-color: var(--text-light);
  box-shadow: 0 2px 4px var(--shadow-light);
  border-radius: var(--border-radius);
  text-align: center;
}

.servicos-container {
  display: flex;
  flex-direction: row; /* Garante que as duplas fiquem lado a lado */
  justify-content: center; /* Centraliza as duplas */
  gap: 50px; /* Distanciamento entre as duplas */
  align-items: center; /* Alinha as imagens e listas verticalmente */
  max-width: 1200px;
  margin: 0 auto;
}

.servico-item {
  display: flex;
  justify-content: center; /* Alinha imagem e lista no centro */
  align-items: center; /* Alinha verticalmente */
  gap: 30px; /* Distanciamento entre a imagem e a lista */
}

.imagem-servicos {
  width: 200px; /* Padroniza a largura da imagem */
  height: 200px; /* Padroniza a altura da imagem */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px var(--shadow-light);
}

.lista-servicos {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0;
  max-width: 400px; /* Define o limite para a largura da lista */
}

.lista-servicos li {
  margin-bottom: 8px;
  font-size: 1rem;
  color: var(--text-dark);
  position: relative;
  padding-left: 0; /* Remove o espaço à esquerda */
}

.lista-servicos li::before {
  content: none; /* Remove o ícone */
}

/* Estilos para os produtos */
#lista-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: var(--spacing);
}

#lista-produtos .produto {
  background-color: #f9f9f9;
  padding: var(--spacing);
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px var(--shadow-light);
  text-align: center;
}

#lista-produtos .produto img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

#lista-produtos .produto h3 {
  margin-top: var(--spacing);
  color: var(--text-dark);
}

#lista-produtos .produto p {
  color: var(--highlight-color);
}

/* Estilos para o formulário e o mapa */
.formulario-e-mapa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  margin-top: var(--spacing);
}

.formulario {
  flex: 1;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
}

form label {
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--shadow-light);
  border-radius: var(--border-radius);
  transition: border-color 0.3s;
  resize: none;
}

form input:focus,
form textarea:focus {
  border-color: var(--highlight-color);
  outline: none;
}

form button {
  background-color: var(--custom-bar-color);
  color: var(--text-light);
  border: none;
  padding: 12px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin: 0 auto;
}

form button:hover {
  background-color: rgba(59, 58, 58, 0.8);
}

/* Estilos para a seção de contato */
.informacoes-contato {
  flex: 1;
  max-width: 400px;
  text-align: left;
  padding: var(--spacing);
  background-color: var(--text-light);
  box-shadow: 0 2px 4px var(--shadow-light);
  border-radius: var(--border-radius);
}

.informacoes-contato h3 {
  color: var(--text-dark);
  margin-bottom: var(--spacing);
}

.informacoes-contato p {
  margin: 10px 0;
}

#mapa {
  flex: 1;
  max-width: 600px;
  margin-top: 0;
}

#mapa iframe {
  width: 100%;
  height: 400px;
  border-radius: var(--border-radius);
  margin-top: var(--spacing);
}




/* Botão flutuante para WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1000;
  text-decoration: none;
}

.whatsapp-button i {
  font-size: 30px;
  color: #fff;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.whatsapp-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Alterações no botão de login */
#login-admin {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.login-admin-button {
  background-color: rgba(59, 58, 58, 0.8);
  color: var(--text-light);
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.login-admin-button:hover {
  background-color: rgba(59, 58, 58, 0.9);
  transform: translateY(-3px);
}

.login-admin-button i {
  font-size: 1.2rem;
}

/* Estilos para rodapé */
footer {
  background-color: var(--primary-color);
  color: var(--text-light);
  padding: 10px;
  text-align: center;
}
