<h1>Cadastrar Nova Agenda</h1>
<form action="/agenda" method="POST">
    <div class="form-group">
        <label for="clientes">Cliente:</label>
        <select name="clientes" id="clientes" class="form-control" required>
            <option value="">Selecione o Cliente</option>
            <% clientes.forEach(cliente => { %>
                <option value="<%= cliente.cod %>"><%= cliente.nome %></option>
            <% }); %>
        </select>
    </div>

    <div class="form-group">
        <label for="procedimentos">Procedimento:</label>
        <select name="procedimentos" id="procedimentos" class="form-control" required>
            <option value="">Selecione o Procedimento</option>
            <% procedimentos.forEach(procedimento => { %>
                <option value="<%= procedimento.cod %>"><%= procedimento.nome %></option>
            <% }); %>
        </select>
    </div>

    <div class="form-group">
        <label for="profissional">Profissional:</label>
        <input type="text" name="profissional" id="profissional" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="forma_pag">Forma de Pagamento:</label>
        <input type="text" name="forma_pag" id="forma_pag" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="data">Data:</label>
        <input type="date" name="data" id="data" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="hora">Hora:</label>
        <input type="time" name="hora" id="hora" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Cadastrar</button>
</form>
