<h1>Cadastrar Novo Item</h1>
<form action="/items_proce" method="POST">
    <div class="form-group">
        <label for="procedimentos">Procedimento</label>
        <input type="text" class="form-control" id="procedimentos" name="procedimentos" required placeholder="Insira o procedimento">
    </div>
    <div class="form-group">
        <label for="produtos">Produto</label>
        <input type="text" class="form-control" id="produtos" name="produtos" required placeholder="Insira o produto">
    </div>
    <div class="form-group">
        <label for="quantidade">Quantidade</label>
        <input type="number" class="form-control" id="quantidade" name="quantidade" required min="1" placeholder="Quantidade mínima é 1">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
