<h1>Cadastrar Novo Usuário</h1>
<form action="/usuario" method="POST">
    <div class="form-group">
        <label for="nomedusuario">Nome</label>
        <input type="text" class="form-control" id="nomedusuario" name="nomedusuario" required>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="role">Regra</label>
        <select class="form-control" id="role" name="role" required>
            <option value="">Selecione uma regra</option>
            <option value="administrador">Admin</option>
            <option value="usuario">Usuário</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
