<h1>Editar Usuário</h1>
<form action="/usuario/<%= usuario.id %>?_method=PUT" method="POST">
    <div class="form-group">
        <label for="nomedusuario">Nome</label>
        <input type="text" class="form-control" id="nomedusuario" name="nomedusuario" value="<%= usuario.nomedsuario %>" required>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" name="password">
        <small class="form-text text-muted">Deixe em branco para não alterar a senha.</small>
    </div>
    
    <button type="submit" class="btn btn-warning">Salvar</button>
</form>
